*{
    margin: 0px;
    padding:0px; 
    box-sizing: border-box;
}

body{
    background:#585555;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 100%;
   height: 100%;
}

.container{
    width: 96%;
    margin: 80px auto;
    background-color: rgb(84, 84, 175);
    
}
.h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border-left: 2px solid #585555;
    color: #fff;
}

.book{

    width: 50%;
    float : left;
    background:grey;
    margin:  5px;
    padding: 10px;

}
.icon{

    width:45%;
    float : left;
    line-height: 2px;
    
    
}
button{
    background: grey;
    border-radius:7px;
    padding:6px 6px;
    color:#fff;
    float: left right ;
    margin-top: 10px;
    cursor: pointer;

}

.rate{
    
    float: right;
    margin-right: 30px;
}



